#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

/*
* --------------------------------------------------
* General style
* --------------------------------------------------
*/
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root{
  --color-orange: #F98128;
  --color-purple: #5D2586;
  --color-green: #0eb01e;
}
/* @font-face {
  font-family: 'Terror Production';
  src:local(''),  url('/font/terror_pro.ttf') format('truetype');
       font-style: normal;
       font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src:local(''), url("/font/montserrat.woff2") format('woff2');;
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
} */
canvas{
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
}